

<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<script type="text/javascript" src="/static/js/jquery.js"></script>

</head>
<body>

<form onsubmit="event.preventDefault(); return submitForm();">
	Number of Repositories: <input type="number" name="records" value=100 id="form_records"><br>
	Date: <input type="date" name="date" id="form_date"><br>
	Order: <select name="order" id="form_order">
	  <option value="desc" selected>Descending</option>
	  <option value="asc">Ascending</option>
	</select><br><br>
	<input type="submit" value="Submit">
</form>

<hr>
<div id="langs"></div>
<hr>
<div id="repos"></div>




<script type="text/javascript">



let date = new Date(Date.now());
date.setMonth(date.getMonth() - 1);
var currentDate = date.toISOString().substring(0,10);
document.getElementById('form_date').value = currentDate;


function submitForm()
{	
	var form_records = document.getElementById('form_records').value;
	var form_date = document.getElementById('form_date').value;
	var form_order = document.getElementById('form_order').value;
	console.log(form_records, form_date, form_order);

	document.getElementById('langs').innerHTML = "Loading, Please Wait ...";
	document.getElementById('repos').innerHTML = "Loading, Please Wait ...";

$.ajax({
  url: "/api/search",
  type: "get", //send it through get method
  data: {
  	"date":form_date,
  	"order":form_order,
  	"records":form_records
  }
}).done(function() {
  
});




}








</script>

</body>
</html>