

<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<script type="text/javascript" src="/static/js/jquery.js"></script>

<style type="text/css">
	.err_msg{color:red;}
	table, th, td 
	{
  		border: 1px solid black;
	}

	table {
	  border-collapse: collapse;
	}
</style>


</head>
<body>

<form onsubmit="event.preventDefault(); return submitForm();">
	Number of Repositories: <input type="number" name="records" value=100 id="form_records">
	<span class="err_msg" id="records_error"></span> <br>


	Date: <input type="date" name="date" id="form_date">
	<span class="err_msg" id="date_error"></span> <br>
	Order: <select name="order" id="form_order">
	  <option value="desc" selected>Descending</option>
	  <option value="asc">Ascending</option>
	</select>	
	<span class="err_msg" id="order"></span> <br><br>
	<input type="submit" value="Submit">
</form>

<hr>





<div id="langs"></div>
<hr>
<div id="repos"></div>




<script type="text/javascript">



let date = new Date(Date.now());
date.setMonth(date.getMonth() - 1);
var currentDate = date.toISOString().substring(0,10);
document.getElementById('form_date').value = currentDate;

function zero_errors(){
	var error_elements = document.getElementsByClassName('err_msg');
	for (var i = error_elements.length - 1; i >= 0; i--) {
		error_elements[i].innerHTML="";
	}
}







function submitForm()
{	
	var form_records = document.getElementById('form_records').value;
	var form_date = document.getElementById('form_date').value;
	var form_order = document.getElementById('form_order').value;
	//console.log(form_records, form_date, form_order);
	zero_errors();

	document.getElementById('langs').innerHTML = "Loading, Please Wait ...";
	document.getElementById('repos').innerHTML = "Loading, Please Wait ...";

$.ajax({
  url: "/api/github/search/",
  type: "post", //send it through post method
  data: {
  	"date":form_date,
  	"order":form_order,
  	"records":form_records
  }
})
.done(function(resp){
//console.log(resp);
setTables(resp.data);

})
.catch(function(resp) {
  //console.log("resp",resp);
  var errors = resp.responseJSON;
  //console.log("errors",errors);
  for (err in errors) {
  //console.log("err", err);
  //console.log("err0", errors[err][0]);
  document.getElementById(err+"_error").innerHTML = errors[err][0];
}
});
}




function setLanguagesTable(data)
{
  console.log(data);
  arrangement = 1;
  let repositories_table=`

<h1>Languages:</h1>



    <table>
    <tr>
      <th>Number</th> <th>Lang</th> <th>Repos</th>
    </tr>
  `+
  data.map(
    (mydata)=>{
    //console.log(mydata);
    return (`
      <tr>
      <td>${arrangement++}</td>
      <td>${mydata["language"]}</td>
      <td>${mydata["length"]}</td>
      </tr>
    `)}
    ).join("") + 
  `</table>`;
  document.getElementById("langs").innerHTML = repositories_table;  
}




function setRepositoriesTables(data)
{
  language_counter = 1;
  
  allLanguagesContent = "";
  //console.log(data);
  data.map((languageData)=>{
    //console.log(languageData);
    let arrangement = 1;

    allLanguagesContent += `
    <h1>${language_counter}) ${languageData["language"]}
    (${languageData["length"]})</h1>
    
    <h3>
    <b>Number of Repositories: ${languageData["length"]}</b>
    </h3>
    `+`
<div>
  <table>
    <tr>
      <th>Number</th> <th>Name</th> <th>Full Name</th>
      <th>url</th> <th>Language</th>
    </tr>
  ${
  languageData["repos"].map(
    (mydata)=>{
    //console.log(mydata);
    return (`
    <tr>
      <td>${arrangement++}</td>
      <td>${mydata["name"]}</td>
      <td>${mydata["full_name"]}</td>
      <td>${mydata["url"]}</td>
      <td>${mydata["language"]}</td>
    </tr>
    `);}).join("")}`+`
  </table>
</div>`;

  language_counter++;
  })

  document.getElementById("repos").innerHTML = allLanguagesContent;

  //console.log(allLanguagesContent);
}












function setTables(data)
{
  setLanguagesTable(data);
  setRepositoriesTables(data);
}







</script>

</body>
</html>